# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Django
db.sqlite3
*.log

# Environment variables
.env

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Firebase secrets
serviceAccountKey.json

# Temp files
temp_audio/